<form action="/users/login" method="post">
  <input type="email" name="email" placeholder="Email" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
  <% if (query && query.error) { %>
  <p style="color: red">Invalid email or password</p>
  <% } %>
</form>
